[2014-06-01 21:53] darthdeus opened #4 "Consider using System.FilePath.Posix.joinPath instead of concatenation"
There's a lot of string concatenation used for paths. It'd be probably be more clear if `String`s are replaced with `FilePath` in the type signatures, and `joinPath` used instead of `++`. I can provide a PR for this if you guys agree :)

[2014-06-02 16:04] #4 closed, assigned to nobody

[2014-06-02 16:05] jsl opened #6 "Implement rollback"
There should be a function that rolls back the symlink to the previous release

[2014-06-02 16:05] jsl opened #7 "Don't make the initialization function set the current release timestamp"
I think that we can make the interface simpler by having one of the pre-built functions in the pipeline get the current release timestamp if we don't have it yet. That will reduce the boilerplate in the exposed interface.

[2014-06-02 16:08] jsl opened #8 "Deploy to multiple hosts concurrently"
We should be able to deploy to multiple hosts concurrently, eg., a web cluster that all needs to run the same release of the application.

[2014-06-02 17:14] jsl opened #9 "Make symlink switch atomic"
The solution to this problem is to effect the change by creating a new symlink and then
renaming it over the old symlink. On Unix-like systems, renaming is an atomic operation, and
thus the symlink “change” will be atomic too. By hand, the process looks like this:

$ ln -s new current_tmp && mv -Tf current_tmp current
In Ruby, I make atomic symlinking available everywhere by extending the Pathname

[2014-06-04 09:57] #9 closed, assigned to nobody

[2014-06-04 09:58] #7 closed, assigned to nobody

[2014-06-04 11:52] jsl opened #11 "Cache repo directory not automatically created"
Command  'ls /tmp/project/repo' failed on host 'xxxxx' with error code 2 and message 'ls: cannot access /tmp/project/repo: No such file or directory
'.

[2014-06-04 14:01] #11 closed, assigned to nobody

[2014-06-04 14:02] #6 closed, assigned to jsl

[2014-06-04 14:03] jsl opened #12 "Implement support for version control systems other than git"
Currently only git is supported, but it would be nice to have support for systems like darcs.

[2014-06-04 20:32] jsl opened #13 "At least some failures in the deploy pipeline don't cause non-zero exit code to be returned by the process"

[2015-03-09 19:59] jsl commented on #13
This was probably fixed in a7e592dc496f4a99003b745da40189a117221fdd, closing.

[2015-03-09 19:59] #13 closed

[2015-04-27 13:21] juanpaucar opened #14 "Share sandbox if dependencies haven't changed between deployments"
Currently it may take a while to get all the dependencies installed when we deploy, even if we haven't changed anything in the cabal file at all. In Capistrano this is kind of solved by the user if the user creates a symlink `vendor/bundle` to `shared/vendor_bundle`

In hapistrano an option that enables a shared cabal sandbox for deployments where no dependency has changed, would be really useful

[2015-04-27 14:06] sestrella commented on #14
This is how `capistrano-bundler` works https://github.com/capistrano/bundler/blob/master/lib/capistrano/tasks/bundler.cap

[2015-04-27 14:25] sestrella opened #15 "Validation before rollback to stable release"
Digging a little inside Capistrano source code, I didn't find any kind of validation mechanism that guarantees that you don't rollback to an incomplete revision. The rollback task seems that only changes the current release symlink to an existing revision and perform some rollback operations. Maybe we could use GitHub tags to perform the rollback, so once the deployment is done `hapistrano` should

[2015-09-09 15:05] jpvillaisaza opened #17 "Use Stack"

[2015-09-09 15:05] jpvillaisaza opened #18 "Add to Stackage"

[2015-09-09 15:12] jpvillaisaza opened #19 "Add other-modules to test-suite"
`HapistranoSpec.hs` is not included in the Cabal package because it's not listed as a module for the test suite, so the tests in the Hackage package pass with 0 examples, 0 failures instead of 5 examples, 0 failures.

[2015-09-09 15:13] jpvillaisaza commented on #14
Stack could be an option here, as suggested by @jsl. I have to take a closer look at how the application works and see if it fits, but I think it does.

[2015-09-09 15:14] jpvillaisaza commented on #12
Re-learning some Darcs (or just learning, I think it's changed a lot) should be nice, or at least fun.

[2015-09-09 15:23] jpvillaisaza opened #20 "Clean up (Cabal) package"

[2015-09-09 15:37] jpvillaisaza opened #21 "Upgrade Travis CI to container-based infrastructure"

[2015-09-09 15:43] jpvillaisaza commented on #19
Fixed. See https://github.com/stackbuilders/hapistrano/commit/4d62f70d060764c6e0679247c9eb953e3880730e. Not yet in Hackage, though.

[2015-09-09 15:43] #19 closed

[2015-09-09 15:43] jpvillaisaza commented on #17
Done, see https://github.com/stackbuilders/hapistrano/commit/fc662b46d8e3df419c90b03fd524a3fddcd79d6b.

[2015-09-09 15:43] #17 closed

[2015-09-09 19:08] jpvillaisaza opened #23 "Add a change log file"

[2015-09-09 19:20] jpvillaisaza commented on #20
Done, see https://github.com/stackbuilders/hapistrano/commit/c6fb4becfcd39bb2751b32e8cef9c505779c0000.

[2015-09-09 19:20] #20 closed

[2015-09-09 20:56] jpvillaisaza opened #25 "Tests fail on Linux"
The tests fail on Linux (they work on Mac).

[2015-09-09 22:02] jpvillaisaza commented on #21
Done, see https://github.com/stackbuilders/hapistrano/commit/daa7547178dc20320603422af74f5cda96dbdd2e.

[2015-09-09 22:02] #21 closed

[2015-09-10 01:20] jpvillaisaza commented on #25
The way we're running some commands is `readProcessWithExitCode`, but we should use something like `readCreateProcessWithExitCode` to have more control of the command. To create the process, we can use either `proc` or `shell`. Right now, we're using the equivalent of `proc` and simply taking the head of a list to be the raw command and the rest of the list to be the argument list. That causes com

[2015-09-10 01:30] jpvillaisaza commented on #25
See #26 for the fix.

[2015-09-10 20:09] jsl commented on #15
Instead of modifying the github repo, could we do this:

* After all build steps, (but before symlinking?) touch release_name/BUILD_COMPLETE
* In rollback, only select directories that contain the file BUILD_COMPLETE.

Would that do the trick without modifying the git repo?

[2015-09-10 20:12] jsl opened #27 "Add a mechanism for migrating a database, or adding other tasks during the deploy process"
One of the most common use-cases for capistrano is running a task, like a database modification, before symlinking the new release into place. Actually they support both `before` and `after` hooks. We should make sure that we have similar functionality for extending the build pipeline. Additionally, if we add multi-host deploy support, we should have the capability to run certain commands, like da

[2015-09-10 20:39] lpaulmp commented on #27
Would be nice if Hapistrano allow to do some task *before* or *after* create symlinks to ```current``` folder. I faced situations that restart services or change configuration before create the symlink, was need, and those kind of features helped me a lot.

[2015-09-12 19:23] jpvillaisaza opened #28 "Consider using a scripting library"
There seem to be some problems with using this library in different operating systems, as described in, for instance, issue #25.

I wonder if it would make sense to redefine some functions using a scripting library such as [shelly](https://hackage.haskell.org/package/shelly) or [turtle](https://hackage.haskell.org/package/turtle) (taking into account Gabriel Gonzalez's mature rating for the [scrip

[2015-09-23 18:08] jpvillaisaza commented on #25
Fixed. See 4150310, baccedd, and ada5961.

[2015-09-23 18:08] #25 closed

[2015-09-23 18:33] jpvillaisaza commented on #18
I'll add it once version 0.2.1 is uploaded.

[2015-09-23 18:44] jpvillaisaza commented on #18
See fpco/stackage#855.

[2015-09-23 22:01] jpvillaisaza commented on #28
@jsl Would it make sense to handle command-line options with either turtle or simply getopt (from base)? It should be very simple (especially with turtle) and we'd get --help and -h flags, as well as an appropriate usage message.

We only have "deploy" and "rollback" as options right now, but it would be easy to add new ones. turtle makes it trivial, but requires extra dependencies. getopt is a li

[2015-09-23 22:48] jpvillaisaza opened #30 "base-compat is not necessary"
The base-compat dependency shouldn't be necessary. We're testing against GHC 7.6.3 (base 4.6.0.1), 7.8.4 (base 4.7.0.2), and 7.10.2 (base 4.8.1.0) right now, and `lookupEnv` (the only function we get from base-compat) is available since base 4.6.0.0.

[2015-09-23 22:53] jpvillaisaza commented on #30
Taking into account those versions, maybe we should change the base constraint to >= 4.6 instead of 4.5. Unless we want compatibility with GHC 7.4.

[2015-09-24 06:08] snoyberg opened #31 "Test suite run failure from tarball"
I see error messages such as the following:

[code]

[2015-09-24 14:08] jpvillaisaza commented on #18
Done (but see #31), see fpco/stackage@3d0e130.

[2015-09-24 14:08] #18 closed

[2015-09-24 15:51] jpvillaisaza commented on #31
Closing now, the problem should be fixed by ca5c7a2.

[2015-09-24 15:51] #31 closed

[2015-09-24 15:57] jpvillaisaza opened #33 "Handle command line options with Turtle or GetOpt"
We can handle command line options with turtle or simply System.Console.GetOpt. In either case, it'll be easier to add new options and we can appropriate help and usage messages. Additionally, the application should print a more useful message if one of the required environment variables is not set instead of simply relying on the exception raised by the getEnv function.

[2015-09-24 22:00] jpvillaisaza commented on #30
base-compat will be necessary for the `die` function (base 4.8.0.0) once d4c623b is merged.

[2015-09-24 22:00] #30 closed

[2015-09-25 14:58] #23 closed

[2016-02-24 16:55] lpaulmp opened #35 "Have ability to deploy by different ssh port"
I was not allowed to deploy using a different ssh port. e.g

[code]

[2016-02-24 18:15] #33 closed

[2016-02-24 21:52] CristhianMotoche opened #36 "Which versions of GHC should we support"
Right now the application is tested with GHC 7.6.3, 7.8.4, and 7.10.1. Should we still worrying about GHC 7.6.3? If so, we could continue using `cabal` in `travis`, otherwise we could switch to `stack`.

This issue should be consider in the other OS projects.

[2016-02-24 22:53] jpvillaisaza commented on #36
@CristhianMotoche 7.8 (7.8.4) and 7.10 (7.10.3) sounds good to me.

[2016-03-04 15:00] CristhianMotoche commented on #36
I'll close this issue, since #37 .

[2016-03-04 15:00] #36 closed

[2016-05-03 20:03] ajnsit opened #40 "Comparison to keter?"
This project is interesting! How does it compare to something like Keter (https://github.com/snoyberg/keter)?

[2016-05-03 21:16] jsl commented on #40
Not too familiar with Keter, but based on the README, it seems like overall, the main difference is that Keter does a lot more than Hapistrano. Some of the features that Keter has but hapistrano doesn't include:

1. reverse proxying
2. ssl support
3. relaunching processes that die
4. log file management
5. postgres management

I'm a bit skeptical that an application server should handle all of the

[2016-05-03 21:59] ajnsit commented on #40
Ah so hapistrano is more of a code transfer and build wrapper. Whereas keter is strictly a production server management tool. It provides easy deployments (Just scp over a binary, which is automatically detected and deployed, and logs rotated). The reverse proxy bits are also useful as it means I don't need to maintain nginx as well.

It seems that keter and hapistrano are mostly orthogonal then.

[2016-10-04 15:38] jsl commented on #14
This issue is resolved - we use currently Stack with Hapistrano on most of our projects.

[2016-10-04 15:38] #14 closed

[2016-10-04 15:41] jsl commented on #27
@lpaulmp I think that you can currently do this by modifying `RESTART_COMMAND`. Would that work for you?

[2016-10-04 15:42] jsl commented on #40
Closing since this has been inactive for a while. I'd be happy to explore improving compatibility in a separate issue or PR.

[2016-10-04 15:42] #40 closed

[2016-10-04 15:43] jsl commented on #27
We're currently doing migrations by calling `moo` from our build scripts. Closing since this issue is resolved.

[2016-10-04 15:43] #27 closed

[2016-10-04 15:46] jsl commented on #28
We should discuss the pros and cons of the libraries that you mentioned with something like Shake. I agree that Hapistrano could be re-written in a library that improves interaction with the shell.

[2016-10-04 15:58] jpvillaisaza commented on #28
@jsl Sure, at least for the first part, which is the one directly related to this issue, but I don't remember much of it. There's a second part (which should be a separate issue) related to command line arguments. For that, we can use cmdargs or a similar library for better documenting the different Hapistrano commands (and adding basic ones like `hap --help` to print a help message).

[2016-10-19 21:39] juanpaucar opened #41 "Support comments and empty lines"
Currently hapistrano will fail if there are comments in the building files. The same will happen with empty lines.

This should be a enhancement since sometimes it's better to have comments and empty lines that make easier the reading. This is related to how we pass the lines arguments to the `buildRelease` function

[code]

[2016-10-19 21:43] jpvillaisaza opened #42 "Add version constraints"
Right now, the only version constraints in the Cabal file are the ones for the base package. We should add constraints (lower and upper bounds) to most dependencies.

[2016-10-19 22:20] jpvillaisaza opened #43 "Add command line arguments"
A part of #28 is about adding command line arguments such as `--help` to at least display some usage information. I chose cmdargs for a project I added command line arguments recently, but a similar one would work as well. Basic options (help, version, ...) are good enough to start, but there are a lot of nice ones we can add.

Some ideas after a quick look at Capistrano:
- `--dry-run` to do a dry

[2016-10-20 13:14] mrkkrp commented on #43
I would vote for `optparse-applicative` as well, it's hard to find anything better than this.

[2016-10-20 13:19] jpvillaisaza commented on #43
@CristhianMotoche One of the things I like about cmdargs is that is has almost no dependencies (base, filepath, process, template-haskell, and transformers, which are all boot libraries). But this is not a very important advantage over optparse-applicative (which has as non-boot library dependencies ansi-wl-pprint, transformers-compat, and, in some cases, semigroups).

So, both are fine as far as

[2016-10-20 20:12] jsl opened #45 "Add hook to mark application as in maintenance mode"
Even though hapistrano keeps downtime relatively low, by building in a separate directory, and then changing the "current" application symlink, there may be downtime necessary, for example, if a database migration has to take place.

Generally, the deploy process is as follows:
- new application is built
- current running app is placed in maintenance mode
- then the schema can be migrated
- then t

[2016-10-20 22:16] CristhianMotoche commented on #43
Hey, sorry for the late response, but sure I'd like to work on this.

[2016-10-20 22:18] jpvillaisaza commented on #43
@CristhianMotoche Awesome, go ahead.

[2016-10-21 14:12] jpvillaisaza commented on #43
It seems like we're using System.Console.GetOpt, but it's just a usage message without much information, so moving to something else makes more sense.

[2016-10-25 18:12] jsantos17 commented on #43
+1 optparse-applicative. @CristhianMotoche, let me know if you have any
issues :).

On Thu, Oct 20, 2016 at 5:18 PM, Juan Pedro Villa Isaza <
notifications@github.com> wrote:

[2016-10-27 14:22] jpvillaisaza opened #47 "Add property-based tests"
Hapistrano seems like a very good candidate for adding property-based tests. I don't think this is required, just nice to have and worth the effort.

[2016-10-27 16:40] mrkkrp commented on #47
I thinking it may be a good task for Haskell beginners to learn QuickCheck, and we could review it then.

[2016-10-27 21:48] flandrade commented on #47
I haven't used QuickCheck. I would like to work on this, I'll submit a PR as soon as possible.

[2016-10-27 21:53] jsl commented on #47
I think that property-based tests would be good. However, the code is likely to change quite a bit when we transition to something like Shake. Would it make sense to wait until that is done before improving the test coverage?

[2016-10-27 22:09] jpvillaisaza commented on #47
@jsl Yes, perhaps wait until #28 is closed? (cc @flandrade)

[2016-11-14 02:54] nebtrx commented on #42
@jpvillaisaza I can help with this

[2016-11-15 13:49] #42 closed

[2017-01-28 13:06] mrkkrp commented on #43
Resolved via #46.

[2017-01-28 13:06] #43 closed

[2017-01-28 13:09] mrkkrp commented on #41
Resolved via #44.

[2017-01-28 13:09] #41 closed

[2017-01-28 13:44] mrkkrp commented on #35
Resolved via #39.

[2017-01-28 13:44] #35 closed

[2017-02-03 14:23] mrkkrp commented on #15
@jsl I think this is a good idea. Does it make sense to add this to #52? Or should it be in a separate PR? Also, we could modify the algorthim that purges older releases to remove any incomplete releases before truncating the history.

[2017-02-03 14:29] mrkkrp commented on #8
As a first approximation of this, we could add multi-host deploy that works sequentially (we should allow `HOST` varibale to hold a list of a sort for this). When #52 is merged, we will have very good feedback about what's going on during deploy in real time and I'm not sure what is the best way to combine output from many concurrent processes. Other than that, 100% doable. Should be add this to 0

[2017-02-08 15:04] mrkkrp opened #54 "Add the ability to copy compiled files from CI"
It's a known fact that with some projects we're running into issues by compiling on server. For example, V********, if compiled with optimizations, exhausts all available memory and can't finish anymore. It may be impossible to deploy it with Hapistrano even without optimizations after a while. I think there are other projects that suffer from this. For these cases, we need an option to copy pre-c

[2017-02-08 15:17] lpaulmp commented on #54
This feature will help a lot of projects and will reduce tons of time compiling in case that you need compatibility   [buildkite](https://buildkite.com/) could help in that sense.. Thanks @mrkkrp for open this issue

[2017-02-08 15:27] jsl commented on #54
@mrkkrp I agree that this feature would be nice to have.

I'm ok as long as we leave the option to compile on the server as well, since the architecture and linking is not always guaranteed to be the same on CI and staging/prod. My thought is that differences there may lead to run-time errors, and avoiding run-time errors is why we're using Haskell in the first place in many cases.

FWIW, we shoul

[2017-02-08 15:29] mrkkrp commented on #54
Yeah, my idea that it will be optional, so when you really need it, you can reach for it.

[2017-02-08 15:34] sestrella commented on #54
@mrkkrp Maybe we could start by copying `.stack-work` directory across releases:

Let's say we have the following folder structure

[code]

So during the deployment process we could copy `.stack-work` directory from previous release `20170201` to new release `20170202` before we trigger the build script.

Going further I think this functionality is kind of similar as the [shared folder](http://cap

[2017-02-08 16:07] lpaulmp opened #55 "Link/copy the .stack-work folder making the build faster"
Makes hapistrano faster building the binaries in a remote host, linking/copying the previous `.stack-work` to the current release.
@sestrella I linked your comment in this issue. https://github.com/stackbuilders/hapistrano/issues/54#issuecomment-278361795

[2017-02-08 16:08] lpaulmp commented on #54
@sestrella what do you think instead of copy the .stack-work just link it from another folder for instance `shared forlder`, since link is faster than copy. This future shouldn't be a nice to have, this should be part of the normal process I think. Lets open other issues to with this idea.

[2017-02-08 16:11] lpaulmp commented on #55
@sestrella I'm no complete sure about the side effects of links the `.stack-work` in the rollback process, I think  we shouldn't have side effects since the binary is already build.

[2017-02-08 16:16] #15 closed

[2017-02-15 16:37] sestrella commented on #45
![](https://github.trello.services/images/mini-trello-icon.png) [hapistrano - Add hook to mark application as in maintenance mode](https://trello.com/c/nlvq5Mb2/5-hapistrano-add-hook-to-mark-application-as-in-maintenance-mode)

[2017-02-15 16:52] sestrella commented on #54
![](https://github.trello.services/images/mini-trello-icon.png) [hapistrano - Add the ability to copy compiled files from CI](https://trello.com/c/1CGPHVdX/6-hapistrano-add-the-ability-to-copy-compiled-files-from-ci)

[2017-02-18 05:12] mrkkrp opened #56 "Use YAML to store configuration instead of environment variables"
I think there is no particular reason to use environment variables for configuration. YAML is easy to parse with the `yaml` library and I see a number of reasons to switch to it:

1. It will be handier to store the entire configuration in `hap.yaml` file and the application could load it from that file automatically so `source foo &&` part becomes unnecessary and it's easier to call `hap`.

2. We

[2017-02-18 05:45] mrkkrp commented on #56
Also may be used later for #8 as a way to specify multiple hosts.

[2017-02-20 14:33] #56 closed

[2017-02-20 15:09] #54 closed

[2017-02-20 17:59] mrkkrp commented on #55
I went with adding parameters that allow to specify arbitrary files and directories to copy, as it's more general and not languge-tied as linking one specific directory. Still not sure if we should close this issue or keep it open?

[2017-02-20 18:06] lpaulmp commented on #55
@mrkkrp We can close then checked the implentation of copy `.stack-work` folder. thanks

[2017-02-20 18:07] #55 closed

[2017-03-01 20:40] #8 closed

[2017-03-29 17:18] simonmichael opened #63 "support ln command on OSX"
This looks pretty good, thanks!

Testing a deployment on OSX failed, /bin/ln doesn't support -T:
[code]

[2017-03-30 07:31] psibi opened #65 "Is cloning necessary when `copy_files` is included"
In our work, we do *most* of the deployment just by copying the binaries.

hapistrano seems to do a bare clone always. Is there any reason why it is done like this ?

[2017-03-30 11:02] mrkkrp commented on #65
I think the reason is that we often want to run the app with current directory that is root of the repo, which contains configuration files and some other stuff. Note that we have caching for clonning: we keep a clone of the repo and subsequent deploys first refresh it (which is faster than full clonning every time), then use it to create a release. From my experience clonning is not taking long a

[2017-03-30 11:06] psibi commented on #65
Ah, okay. Because of the cloning, we have to do mandatory setup of SSH Forwarding for git authentication to make hapistrano work. That was not required in our in-house haskell scripts which we are using right now for deployment.

[2017-03-31 14:16] psibi commented on #65
@mrkkrp

Can we have an optional `--no-clone` option ?

Something like `hap deploy --no-clone` or rather have it defined in the configuration file ?

If others agree with the idea, I can work on the PR.

[2017-03-31 14:24] mrkkrp commented on #65
I tihnk we can add such an option now that we allow copying files and directories. Any thoughts @sestrella, @jsl?

[2017-03-31 14:53] jsl commented on #65
Hi @psibi - so the idea would be that it does the binary copy, and does symlink updating etc. as in the current system (to activate the next release), but without the clone? I think that would be fine, and it seems like a complementary feature to the current codebase. PRs welcome!

[2017-03-31 14:54] jsl commented on #63
Thanks @simonmichael for bringing this to our attention. It should work on OS X. We'll take a look!

[2017-03-31 16:06] psibi commented on #65
Yeah, something like that. I will use the patched version of the package one or two days in our production systems and then will submit the PR when we are satisfied with the workflow. We can take it from there, I guess. Thanks.

[2017-04-05 17:57] #65 closed

[2017-04-16 21:39] hvr opened #68 "Compile failure w/ base-4.7"
I've noticed on

http://104.239.175.197:8080/package/hapistrano

that the 0.3.* series started depending on Numeric.Natural being provided by `base`, even though it was only moved from the `nats` package starting with base-4.8; so this results in failures like:

[code]

Feel free to ask me if you have any questions!

[2017-04-16 22:31] mrkkrp commented on #68
I think we only test against 7.10 and 8.0 currently, so version of `base` in dependencies should be adjusted accordingly. I could try to extend the range of supported GHC versions though.

[2017-05-05 18:33] flandrade opened #69 "Unable to set a revision"
Hapistrano sets the release to the correct revision by resetting the head of the git repository while the current branch is `master`. However, if you want to deploy using a different branch, which has diverged from master, `git reset origin/<new-branch>` will have unstaged changes after reset.

[2017-07-20 18:58] sestrella opened #73 "Add the latest version of the package to stackage"
The latest version of the project uploaded to stackage is 0.2.1.2 but the current project version is 0.3.2.2. Check for possible conflicts with other packages in the latest LTS.

https://www.stackage.org/lts/package/hapistrano

[2017-07-20 20:46] jpvillaisaza commented on #73
Here's one of the versions that needs to be modified: fpco/stackage#2559

[2017-07-22 05:13] CristhianMotoche opened #74 "Adding timestap to the logging of the commands in the build script"
Adding timestap to the log will help to know when exactly a command was executed. The timestapms could be like the following example from capistrano.
[code]

[2017-08-07 20:23] sestrella opened #75 "Stream the log of commands to avoid CI timeout"
Most CI services have a timeout mechanism if a command does not return any output in an X time. Building commands such `stack build` could take a long time, therefore I think would be nice to stream the command log while the process is running.

[2017-08-08 15:43] sestrella opened #76 "Single configuration file"
Most of the settings across different deployment scripts such as `staging.yaml` and `production.yaml` are the same. Usually, they only differ in the name of the branch, therefore I would like to propose to use a single configuration file with different sections instead of separate files, the format might look like:

[code]

Then we could change the CLI to take a section as an argument:

[code]

[2017-08-08 21:03] #73 closed

[2017-08-08 23:15] hvr opened #79 "Compile failures with base-4.7"
As can be seen (not anymore, as I corrected the meta-data already, see https://github.com/stackbuilders/hapistrano/issues/79#issuecomment-321195399) on

https://matrix.hackage.haskell.org/package/hapistrano

there's currently compile failures with all 0.3.* releases, i.e.

[code]

I'm going to fixup the meta-data (by tightening the lower bound for `base` to `>=4.8`) on Hackage for the affected rel

[2017-08-09 08:53] hvr commented on #79
I went ahead, and corrected the meta-data for the affected versions, see

 - https://hackage.haskell.org/package/hapistrano-0.3.0.0/revisions/
 - https://hackage.haskell.org/package/hapistrano-0.3.0.1/revisions/
 - https://hackage.haskell.org/package/hapistrano-0.3.1.0/revisions/
 - https://hackage.haskell.org/package/hapistrano-0.3.2.0/revisions/
 - https://hackage.haskell.org/package/hapistrano-

[2017-08-09 08:55] mrkkrp commented on #79
To Hapistrano maintainers: you probably need to add a conditional dependency on `nats` for older base versions that do not have `Numeric.Natural` in them.

[2017-08-10 10:54] patrixl commented on #63
This affects FreeBSD also (not surprisingly, both are BSD userland), and not just ln, but also mv.

[2017-08-14 18:10] goetzc commented on #69
On 520ebc4 I modified the setReleaseRevision function to use git checkout. Let me know what do you think.

[2017-08-29 19:13] psibi opened #81 "Feature request: Add local_command section"
It will contain instruction for locally running commands (in the form of shell command) before hap starts it's process of communicating with the remote server.

Why ?
My use case for deploying applications involves just copying files using hapistrano and using the `vc_action` feature specifically. So before hap starts it's process, I want to run some commands on my local system (like stack build,

[2017-08-29 20:08] jsl commented on #81
Hi @psibi - that sounds like a useful feature. In fact it seems to be something that [is supported in Capistrano as well](http://capistranorb.com/documentation/getting-started/local-tasks/). I think it would be great if you want to take a shot at implementing it. If you do, please also update the README file with a usage example. Thanks!

[2017-08-29 20:26] juanpaucar commented on #81
Hi @psibi. Thanks for offering. I'm going to assign this feature to you in that case

[2017-09-04 21:03] #79 closed

[2017-09-04 21:28] juanpaucar commented on #81
@psibi @jsl I'm closing this issue since it is merged and included on version 0.3.0.0 on hackage http://hackage.haskell.org/package/hapistrano-0.3.3.0

[2017-09-04 21:28] #81 closed

[2017-09-04 21:33] juanpaucar commented on #68
@hvr Thanks for the heads up and the fixing, some packages used on rewrite of the application on version 0.3.0.0 do not allow older than 7.10 versions. @mrkkrp it seems that it required ore changes to work on older versions, also, thanks for taking the time to check this issue. Now, boundaries have been properly adjusted and matrix seems to be working fine matrix.hackage.haskell.org/package/hapist

[2017-09-04 21:33] #68 closed

[2017-09-05 17:34] juanpaucar commented on #76
@sestrella Although, I'm totally aware that staging ideally should be a carbon copy of the production environment. I also think that sometimes we need flexibility and that a user may not be able to have the ideal scenario. In that sense, how would you suggest that we should handle the case when there is a difference between the necessary scripts between both. Also, it may exist the case when a pro

[2017-10-02 17:00] juanpaucar commented on #63
@simonmichael @patrixl @jsl Hi everyone, I know this issue has been around for a while but I wanted your opinion on this. Do you think it'd be better to enable another key on the YAML file to tell the *hapistrano* that the target deployment system won't be a linux system and instruct it to use the command versions without unsupported options instead?

It would be something like the normal configur

[2017-10-03 22:53] patrixl commented on #63
@juanpaucar Hi! Yes a key in the YAML file would probably make everyone's life simpler, I'm fine with that.

[2017-10-10 21:06] nebtrx opened #84 "Trying to deploy to a host using `zsh` as default shell fails"
When you try to deploy to a host using `zsh` as default shell it fails with the following error:
[code]
That happens because `zsh` doesn't run a command at all when it fails to glob while `bash` tries to run the whole pattern unchanged. There are ways to change the default mode of `zsh`(and other shells having the same behavior) regarding this to match `bash` as explained [here](https://stackoverf

[2017-11-19 21:50] #69 closed

[2017-12-04 22:51] juanpaucar commented on #63
Sorry for the very late solving of this issue. This has been solved in #86 and it's available starting from hapistrano 0.3.5.0
Thanks @simonmichael and @patrixl for reporting the issue

[2017-12-04 22:51] #63 closed

[2018-04-05 19:27] po5i commented on #84
![](https://github.trello.services/images/mini-trello-icon.png) [Trying to deploy to a host using `zsh` as default shell fails](https://trello.com/c/cQ5iAUi0/46-trying-to-deploy-to-a-host-using-zsh-as-default-shell-fails)

[2018-04-05 19:28] po5i commented on #76
![](https://github.trello.services/images/mini-trello-icon.png) [Single configuration file](https://trello.com/c/pHFYjA7z/45-single-configuration-file)

[2018-04-05 19:28] po5i commented on #75
![](https://github.trello.services/images/mini-trello-icon.png) [Stream the log of commands to avoid CI timeout](https://trello.com/c/MVTV8Aip/51-stream-the-log-of-commands-to-avoid-ci-timeout)

[2018-04-05 19:28] po5i commented on #74
![](https://github.trello.services/images/mini-trello-icon.png) [Adding timestap to the logging of the commands in the build script](https://trello.com/c/wJ4EzNQl/49-adding-timestap-to-the-logging-of-the-commands-in-the-build-script)

[2018-04-05 19:28] po5i commented on #47
![](https://github.trello.services/images/mini-trello-icon.png) [Add property-based tests](https://trello.com/c/sa2skI89/50-add-property-based-tests)

[2018-04-05 19:29] po5i commented on #45
![](https://github.trello.services/images/mini-trello-icon.png) [Add hook to mark application as in maintenance mode](https://trello.com/c/ub2Pblk8/48-add-hook-to-mark-application-as-in-maintenance-mode)

[2018-04-05 19:29] po5i commented on #28
![](https://github.trello.services/images/mini-trello-icon.png) [Consider using a scripting library](https://trello.com/c/T7UV06rT/47-consider-using-a-scripting-library)

[2018-04-05 19:29] po5i commented on #12
![](https://github.trello.services/images/mini-trello-icon.png) [Implement support for version control systems other than git](https://trello.com/c/ojPCwXW2/52-implement-support-for-version-control-systems-other-than-git)

[2018-04-09 21:23] javcasas opened #90 "Docker image"
On some projects we download a Stack image, then build Hapistrano. This is ridiculously slow compared to having a hapistrano Docker image. We should have and share such image. I'm sure we can build it automatically and deploy it to the Docker hub.

[2018-04-19 17:57] javcasas commented on #90
Preparing PR on https://github.com/stackbuilders/hapistrano/pull/92

[2018-05-03 09:54] juanpaucar commented on #90
@javcasas there's another option to be considered. Using the [releases system on github](https://github.com/stackbuilders/hapistrano/releases), we might attach an executable. `stack` already generates a statically linked executable, although it only links Haskell dependencies. But we only need to add some flags to `stack` to generate a statically linked to systems dependencies.
Adding `stack build

[2018-05-05 17:05] #90 closed

[2018-05-31 12:34] juanpaucar opened #96 "Hapistrano can't deploy from Windows"
**Expected Behavior**
I want to deploy from Windows to a UNIX system using the same files I would use if I ran hapistrano from Linux.

**Actual Behavior**
I'm getting this error when deploying from Windows.
[code]

**Other details**
Hapistrano uses the `path` library. `path` has support for windows. However, `path` [makes a distinction](https://github.com/commercialhaskell/path/blob/master/src/Pat

[2018-09-20 19:54] javcasas commented on #75
There is a function `exec'` that runs the commands. Under the hood, it uses `readProcessWithExitCode` https://hackage.haskell.org/package/process-1.2.0.0/docs/src/System-Process.html#readProcessWithExitCode that doesn't stream anything. But, copying that `readProcessWithExitCode`, we could create our tweaked version that prints to stdout in real time.

[2018-10-18 22:43] sestrella opened #105 "Declarative `hap deploy` configuration"
Hapistrano only reads deployment settings like `release-format` and `keep-release` from the CLI.

Taking into account the following configuration file:

[code]

If a user required to override the default deploy settings, needs to do that via the CLI as follows:

[code]

The current approach makes it hard to achieve reproducible builds since users have to remember to pass the same settings anytime

[2018-10-22 16:15] #105 closed

[2018-11-26 14:46] sestrella opened #107 "Support shared folders and files"
capistrano has a feature to share folders and files between different releases, it is called shared folders. This feature is quite useful to preserve logs between different releases as well as overwrite configuration files, here is a quick description:

**References**

https://capistranorb.com/documentation/getting-started/structure/

[2018-12-13 14:49] CristhianMotoche commented on #75
I agree with @javcasas, we'll have to implement our own `readProcessWithExitCode`.  As you can see in the source code of that function:
[code]

the `std[in,out,err]` are always changed to `CreatePipe` and

I tried to create my own function that inherits the parent handle using `typed-process` but it didn't work:
https://github.com/stackbuilders/hapistrano/blob/stream-stdout/src/System/Hapistrano/C

[2018-12-21 15:50] juanpaucar commented on #75
Thanks @CristhianMotoche

[2018-12-21 15:50] #75 closed

[2018-12-21 22:19] CristhianMotoche commented on #107
I've never used `capistrano`. However, I assume the purpose of this is to create symlinks in our application that point to the files or directories in `shared` (I got that idea from [here](https://stackoverflow.com/questions/19071179/capistrano-how-to-put-files-in-the-shared-folder)).

Therefore, a project would have the following structure:

[code]

I think we can do this in the following way: Li

[2018-12-26 13:10] sestrella commented on #107
@CristhianMotoche regarding:

capistrano only links the files declared at `linked_files` and `linked_dirs`. I'm not sure about linking everything inside `shared` since in some cases it's necessary to link the whole directory instead, like the log folder, for instance.

[2018-12-26 13:13] CristhianMotoche commented on #107
Oh, ok. @sestrella Then, we should work on adding `linked_files` and `linked_dirs` entries to the `config.yml` file.

[2018-12-26 21:57] CristhianMotoche commented on #107
Only for references, if someone is going to work on this issue and doesn't know capistrano. I found this [useful](https://www.talkingquickly.co.uk/2014/01/deploying-rails-apps-to-a-vps-with-capistrano-v3/):

[2019-01-04 20:24] CristhianMotoche commented on #84
My current shell:

[code]

After setting up `ssh` in my personal computer (`Arch OS`):

[code]
I copied my ssh keys to `~/.ssh/authorized_keys`.

I could replicated with the following `hap.yaml`:
[code]

As @nebtrx mentioned, the change is simple:
[code]

Although, we need to configure tests to run on a different shell as well.

[2019-01-09 17:06] CristhianMotoche commented on #107
In favor of #109

[2019-01-09 17:06] #107 closed

[2019-01-09 17:23] nebtrx commented on #84
Oooops, sorry for not seeing this before.

[2019-01-09 18:50] #84 closed

[2019-01-24 15:54] CristhianMotoche commented on #74
Solved in #111

[2019-01-24 15:54] #74 closed

[2019-07-18 22:50] nickovivar opened #116 "Add an option to avoid checkout source code from git"
We need to add an option to avoid check out the source code during deployment.
We should choose if we want to check out the code from GH or just move a folder with all the files to deploy the application.

For instance, if a project builds the application in CIrcle CI, hapistrano could move the project folder to the server instead of checking out the code and build the application again in the ser

[2019-07-18 23:15] nickovivar opened #117 "Create a new Docker image for Circle CI"
Right now the current docker image doesn't have all the configuration to use in Circle Ci. We need to create a new docker image that works along Circle CI.

[2019-08-07 16:59] juanpaucar opened #119 "Colorize output"
We might want to colorize the output to make it easier to distinguish which output is being presented at the time

[code]

[2019-08-07 17:32] juanpaucar opened #120 "Allow to add extra flags to the SSH connection"
Different servers might have different configurations for the ssh connections, so we might want to add the option for `non-login` and `non-interactive`. We might also consider additional options

[2019-08-07 17:34] juanpaucar commented on #120
@speedlight Do you consider that we should add other connection options additional to the previously mentioned options?

[2019-08-08 12:50] speedlight commented on #120
@juanpaucar I think with this is good to have more control of how ssh session are started.

[2019-10-02 15:12] csasarak opened #121 "Separate Build Machines"
I was wondering if there is any support for having a separate build machine? Besides scripting the build in some other tool and using hapistrano's copying mechanisms. For example, I do development on a Mac but need to deploy to a GNU/Linux machine - which isn't able to also function as a build machine. It'd be preferable to be able to deploy code to the build box, build, and then transfer the file

[2019-10-28 03:25] CristhianMotoche opened #123 "Suppor for GHC 8.8 and Cabal 3.0"

[2019-10-28 03:25] CristhianMotoche opened #124 "Travis CI failing OSX due to homebrew"
We are using [homebrew](https://github.com/stackbuilders/hapistrano/blob/master/.travis.yml#L29) to install ghc, but it's failing during the [script](https://travis-ci.org/stackbuilders/hapistrano/jobs/603333326#L1881) because it's trying to use Cabal 3.0  and GHC 8.8 (I created a separated [issue for that](https://github.com/stackbuilders/hapistrano/issues/123)).

[2019-10-28 18:41] #123 closed

[2019-10-28 18:41] juanpaucar commented on #124
Solved by #126

[2019-10-28 18:41] #124 closed

[2019-10-28 19:50] juanpaucar commented on #121
@csasarak Sorry for the late response. This is an interesting scenario, thanks for letting us know. I think we could consider adding support for the scenario, but I wouldn't be sure if we are going to do it in the short term. So a PR is welcome.

However, what we have been doing when we are in need of building and then deploying to another machine the compiled product is using CI infrastructure. g

[2019-10-29 21:59] ibarrae commented on #119
Hey @juanpaucar, which lines would it be better to colorize? Only those that have the timestamp and the command?

[2019-10-29 22:16] juanpaucar commented on #119
Yes, I think both differently colored make sense. For a color schema, you could take `htop` as inspiration

[2019-10-29 22:48] CristhianMotoche commented on #120
Close do to #122

[2019-10-29 22:48] #120 closed

[2019-10-30 23:04] #119 closed

[2019-10-31 19:27] cptrodolfox commented on #47
I will be working on this.

[2019-11-01 14:55] csasarak commented on #121
@juanpaucar That is a helpful idea, and I think that the CI approach is actually the better one compared with my request, thank you! Right now my organization isn't sophisticated enough to have CI but I can raise that with the other members of our group.

[2019-11-02 08:16] hughjfchen opened #129 "Don't know how to use the docker image"
Currently, the docker image only contain hap and ssh client, not has a even bash. When I feed the docker image with a config file which has run_locally or/and build_script, it always report that it can't find `exec`. Even with the following minimal config, it also complains `exec` not found:

[code]

I run the docker image with following command:
[code]

and got following error:
[code]

[2019-11-05 23:29] hughjfchen commented on #129
Well, think more and I believe we should put the `hapistrano` static executable in a separate directory, e.g. `/hapistrano` and let the user bind mount the host `/bin` and `/usr/bin` to the docker container so that commands on the host machine can be accessed within the docker container. We need to do following:

- [ ] change the `Dockerfile` to mkdir `/hapistrano`, and copy the static executable

[2019-11-06 14:54] juanpaucar opened #130 "Using the Docker image to deploy to localhost produces an error"
Currently, if we use the docker image to make deployment to the local computer without specifying `localhost` as the `host` on the config file. It produces an error about a not found file.

**Expected behavior**
By default, if no host is specified, it should set localhost for the target deployment machine

**Current behavior**
Since a docker image is a contained environment, it's necessary to spec

[2019-11-06 14:59] juanpaucar commented on #129
Hi @hughjfchen thanks for your recommendation. We might need to add extra information for the usage with docker. Currently, it has a fixed entry point directly to the hapistrano binary. If you need an interactive shell you could overwrite the entry point; the hapistrano image is based on Alpine.

[code]

Usually, you shouldn't need to run it interactively and something like this might be enough fo

[2019-11-06 20:30] cptrodolfox opened #131 "Add Nix support for building Hapistrano"
Use nix to build hapistrano.

[2019-11-11 18:03] cptrodolfox commented on #131
Fixed with PR #132 .

[2019-11-11 18:03] #131 closed

[2019-11-11 18:04] cptrodolfox commented on #47
Added three property tests with PR #128

[2019-11-13 14:30] sestrella opened #133 "Create releases with pre-compiled binaries"
`hapistrano` is meant to be used as an executable, therefore, in order to simplify the installation process, we could provide pre-compiled binaries so end-users could just download and copy the binary instead of installing the whole package via `stack` or `cabal`.

**Documentation**
- https://help.github.com/en/github/administering-a-repository/creating-releases
- https://docs.travis-ci.com/user/d

[2019-11-14 17:49] CristhianMotoche commented on #133
Hey @sestrella ! @nickovivar and I will take this!

[2020-01-20 21:34] ibarrae commented on #116
Would it make sense to refactor the configuration file to something like:
[code]
All these values would be optional, but it would require at least one of them
Then when loading up the configuration, if the `local-directory` is a valid directory it will copy all the files inside of it or it will continue working with `checkout`... and everything as before?

[2020-01-21 20:54] ibarrae commented on #116
FYI @juanpaucar, I didn't find any configuration related to "copying a directory" instead of taking the contents from a project with source control. Furthermore, one of the [requirements](https://github.com/capistrano/capistrano/blob/master/README.md#requirements) of using *capistrano* is to have a project that uses source control.

What I _did found_ is that you can have plugins for capistrano, a

[2020-01-21 21:25] juanpaucar commented on #116
@nickovivar For the scenario that you are describing, you could simply copy the necessary compiled files with
[code]

@ibarrae  I don't think that we should have a breaking change for this or change the current syntax that "deploy yaml" files have. However, I do think that it's a good chance to start supporting other version control sources, including a local one. See #12

This should be kind of a

[2020-01-21 22:18] ibarrae commented on #116
I think that using `copy_dirs` won't place the contents of the directory under `<deployment-path>/repo` or at least that's what I understood from @nickovivar request.

Furthermore, as stated by @nickovivar, we should _build the application again in the server_, and with my current understanding of the codebase all the commands listed under `build_script` will run under the `<deploy-path>/<release>

[2020-01-22 18:20] nickovivar commented on #116
@juanpaucar It is possible to have an option to don't make a git checkout? You're right about that we can use the options `copy_files / copy_dirs` to move the files from our CI machine to the deploy server, but we get an error if we don't specify a git repository. cc @ibarrae

[2020-01-22 18:53] ibarrae commented on #116
I will push some changes to review this, and if everything is ok, I will add some tests and update the documentation accordingly @juanpaucar.

[2020-01-24 12:44] juanpaucar commented on #116
@ibarrae After reviewing #135 I think that it won't close this issue. However, it's a good extension to Hapistrano and we can merge it. Also, as it is right now, it's a great first step to solve #12. So, thanks for the Pull Request

@nickovivar Please, correct me if I'm getting wrong something here. You are suggesting to keep `git` as the source, but making the repo checkout optional.

[2020-02-17 16:10] ibarrae opened #136 "Fails to build with LTS-15.0"
LTS [15.0](https://www.stackage.org/lts-15.0) was released yesterday, leading in the following compile error:
[code]

[2020-02-17 16:11] ibarrae commented on #136
I will take care of this if you don't mind @juanpaucar

[2020-03-19 02:02] #136 closed

[2020-06-03 14:13] juanpaucar opened #141 "Add support for `> path-0.7.1`"
The last update from `path-0.7.0` to `path-0.7.1` broke our tests and it looks like there are changes not mentioned on the changelog about exposing different things. Later it was re-released as `0.8` but stackage starting from LTS-15.14 is using the marked package from the package. Effectively, breaking our test suite.

[2020-06-22 05:42] juanpaucar commented on #141
Apparently, the `path` package was returned to the version `0.7.0` on [LTS 16](https://www.stackage.org/lts-16.0). I just pushed another [commit](https://github.com/stackbuilders/hapistrano/commit/fcfa328c8af57aaaa9428c5ea425dbbcd42893bd) to verify that it's working

[2020-06-22 05:42] #141 closed

[2020-08-14 02:25] sestrella opened #143 "Allow optparse-applicative-0.16.0.0"
Related to https://github.com/commercialhaskell/stackage/issues/5597

[2020-08-14 03:42] #143 closed

[2020-09-04 19:58] CristhianMotoche opened #145 "How to deploy using a different repository?"
I have a fork of a repository and I tried to deploy it by changing only the `repo` attribute in the yaml config file:
From:
[code]
To:
[code]
but `hap deploy -c config.yml` took the previous repo.

I supposed this happens because it always tries to clone `/var/projects/my-project/repo` into the new release:

[code]

Is this expected? Is there a way to change or override the original repository?

[2020-09-22 04:47] saurabhnanda opened #146 "Which user is used on the remote machine?"
A ctrl+f `user` on the README at https://hackage.haskell.org/package/hapistrano doesn't turn-up anything useful. Are all commands executed on the remote machine as the `root` user? Is there any way to change that?

[2020-09-22 13:50] juanpaucar commented on #146
Hi @saurabhnanda , that's a good observation. It doesn't seem immediately obvious how it will connect or how it will run the commands. I will improve that. Meanwhile, please take a look at a real world example:

https://github.com/stackbuilders/tutorials/blob/tutorials/deploy/staging.yml

There you can see that the values on `host` will tell hapistrano how to connect to the server. That's the star

[2020-10-14 20:15] ng29 opened #147 "Adding Table of Content to Readme.md"
Hey @jsl / @mrkkrp

The idea for Adding Table of Content to Readme.md to add additional enhancement and readability to the docs file.

I would like to work on this issue.

[2020-10-15 15:19] juanpaucar commented on #147
Hi @ng29 , please go ahead

[2020-10-15 15:37] ng29 commented on #147
TOC is ready to serve 👍

[2020-10-15 21:51] juanpaucar commented on #147
Closed by #148

[2020-10-15 21:51] #147 closed

[2021-01-18 20:06] sestrella opened #149 "Customize the working directory"
Having a way to customize the working directory is useful for scenarios where
different components of an app reside inside the same repository (monorepo),
many CI allows to customize the working directory before running a set of steps
making each line less verbose. Let's consider a repo with the following structure:

[code]

Right now in order to run a task inside a specific folder is it necessary

[2021-03-22 02:38] juanpaucar opened #152 "Reenable OSX on the environments matrix"
As mentioned on https://github.com/stackbuilders/hapistrano/pull/151. The build was failing on CI for macOS because brew was not able to find `cabal` and `ghc`. We need to spend some time checking why the failure if both packages are still available on the brew index.

[2021-03-22 20:14] mauriciofierrom commented on #152
Between the previous commit and #151 version [2.6.0](https://brew.sh/2020/12/01/homebrew-2.6.0/) of Homebrew dropped support for macOS 10.13 (High Sierra) which is the [default version](https://docs.travis-ci.com/user/reference/osx#macos-version) used by TravisCI workers if the `osx_image` field isn't specified. Since (apparently) Apple no longer supports High Sierra either, it might be a good ide

[2021-03-22 23:35] juanpaucar commented on #152
Thank you very much @mauriciofierrom

[2021-03-23 12:44] #152 closed

[2021-03-24 02:37] sestrella opened #154 "Delete old release only after a successful deployment"
Right now hapistrano only deletes old releases after a successful deployment, therefore, old releases could pile up while trying out a deployment script for the first time. Perhaps this behavior should be revisited in order to run the clean-up tasks always  (when the deployment is successful or when it fails)

[2021-05-11 19:56] felixminom opened #156 "Authenticate pull requests in docker hub"
We need to authenticate our pull request in order to test our builds.

With @sestrella we realized that some of our builds in travis were failing due to a docker hub issue, when looking deeper into it we ended up with this article https://www.docker.com/increase-rate-limits

In synthesis we need to authenticate our PRs to be able to pull images from docker hub without any limit impediment.

[2021-05-11 22:18] ibarrae commented on #156
I can take care of this issue @felixminom @juanpaucar :+1:

[2021-05-12 01:43] sestrella commented on #156
@ibarrae I wonder if this is a good time to consider moving to GH actions, so far it looks like there is an official Docker action for this https://github.com/docker/login-action#dockerhub

[2021-05-12 14:24] ibarrae commented on #156
That sounds great, tried to keep changes minimal but I'll close the previous PR and work on a new one with GH actions :rocket:

[2021-05-13 19:35] ibarrae opened #160 "Drop support for GHC 7.10.3"
`GHC 7.10.3` is more than [5 years old](https://wiki.haskell.org/Base_package) by now so it feels unnecessary keeping support for this version. Removing support for this would remove a CI job, potentially some code via `CPP` and raise some upper bounds for the constraints.

[2021-05-31 13:57] #156 closed

[2021-07-23 16:18] ibarrae commented on #160
This has been solved in #161

[2021-07-23 16:18] #160 closed

[2021-10-14 21:05] juanpaucar opened #165 "Allow aeson 2.0 or greater"

[2021-11-09 18:16] CristhianMotoche commented on #154
Thanks @sestrella for reporting this. Could you please elaborate on this:

?

I want to make sure I understand correctly. AFAIK, every time you run `hap deploy` it creates a new deploy folder where the build script is executed. Therefore, old releases shouldn't affect that.

Also, I think it's correct to remove old releases only when there is a successful deployment. I don't think we should remove

[2021-11-17 02:42] CristhianMotoche commented on #165
Solved in #166

[2021-11-17 02:42] #165 closed

[2021-11-17 15:35] sestrella commented on #154
Sure, let me provide more context. Usually, when a Developer is setting up Hapistrano for the first time in a project, there is a lot of try and error involved, which could easily fill the disk since Hapistrano only deletes the X number of releases specific by `keep_releases` after a successful release. On the other hand, preserving the latest failed release folder is important for troubleshooting

[2021-11-17 15:53] MadhaviG97 commented on #130
Sorry I will not be able to work on this.

[2021-11-17 20:38] CristhianMotoche commented on #45
Hello @jsl  After taking a look at [capistrano maintenance](https://github.com/capistrano/maintenance), it seems it's used as a short hand for some simple commands:

1) `cap maintenance:enable` could be replaced with:
[code]

2) `cap maintenance:disable` could be replaced with:

[code]

And these could be easily added in the build script:

[code]

I think we could also implement something similar

[2021-11-19 18:21] nickovivar commented on #116
I think this approach solves the original issue if we can avoid make a git checkout. Thanks @ibarrae

[2021-11-19 18:21] #116 closed

[2021-11-19 22:56] CristhianMotoche commented on #45
Hello! I reviewed this internally with the team and I proposed the following two ideas:

1) Implement a `maintenance enable/disable` CLI commands in hapistrano:
`hap maintenance enable` => will create a maintenance file in a specific file
`hap maintenance disable` => will remove the maintenance file, so the proxy can keep redirecting the requests to the application

2) Implement a `with_maintenanc

[2022-01-17 15:11] DavidMazarro opened #170 "Trying to build with Nix fails with "error: attribute 'lib' missing""
When trying to install the project with Nix, the following happens:
[code]
[This thread](https://discourse.nixos.org/t/error-attribute-lib-missing/13534) points out the source of the error as a relatively recent change in Nix; I have already fixed this locally with a couple of minor changes and will be adding a PR immediately.

[2022-01-17 15:58] #170 closed

[2022-01-17 18:22] DavidMazarro commented on #154
Hi all, I intend on taking a look at this. I was wondering, is this expected to be the new default behavior of `hap deploy`, or should a new boolean flag be added to the config? (i.e. `delete_failed_releases: yes`)

[2022-01-18 15:52] CristhianMotoche commented on #154
Hey @DavidMazarro I prefer to have a boolean flag for this. I think a flag in the command line:
`hap deploy --keep-succeeds` could be better. What do you think?

[2022-01-18 15:57] DavidMazarro commented on #154
Hi @CristhianMotoche, I think it's better too, both for compatibility and ability to opt-in/out of this behavior.

[2022-01-21 15:27] CristhianMotoche opened #172 "[Question] Define a code formatter for the project"
There are many options to format Haskell code and there isn't one decided for `hapistrano` yet.

Possible options:
- [stylish-haskell](https://github.com/haskell/stylish-haskell)
- [brittany](https://github.com/lspitzner/brittany)
- [ormolu](https://github.com/tweag/ormolu)
- more?

Please, let me know your thoughts.

[2022-01-31 16:57] KevinJ1998 opened #173 "Error trying to install dbmigrations-postgresql with stack"
Hi so, I'm. trying to install `dbmigrations-postgresql` with the following command `stack install dbmigrations-postgresql`, first one error showed and I solved it by adding the following to the "C compiler flags" entry: `-Wno-error=implicit-function-declaration` on the Haskell compiler settings file, which in my case is this settings file is the path `/Users/my-user/.stack/programs/x86_64-osx/ghc-

[2022-01-31 20:46] CristhianMotoche commented on #173
Hello @KevinJ1998 I'm sorry but I don't think this is related to hapistrano, so I'll be closing this issue.

[2022-01-31 20:46] #173 closed

[2022-01-31 20:51] CristhianMotoche commented on #172
Choosing a specific code formatter could make the project too opinionated and it will force contributors to install it. Therefore, I think the best will be to set up an automation that automatically formats the code using any code formatter from the list. I'll close this issue for now.

[2022-01-31 20:51] #172 closed

[2022-02-04 10:23] DavidMazarro opened #176 "Make Haddock step in the CI pipeline clearer in case of failure"
As a newcomer developer to the project, after proposing #174 I kept scratching my head as to why the CI checks were failing at the Haddock step with an exit code 1 and no extra details provided. It turns out that the Haddock step:
https://github.com/stackbuilders/hapistrano/blob/db27a71f3d903c2e1b0e78e6d700e04012bfab28/.github/workflows/build-and-test.yml#L53
was checking via `grep` with a regex t

[2022-02-08 16:21] #154 closed

[2022-02-08 16:35] DavidMazarro opened #177 "Missing test that checks old releases are dropped after a deployment"
While reviewing #174, @jpvillaisaza realized (see https://github.com/stackbuilders/hapistrano/pull/174#discussion_r800725192) that I had accidentally removed the call to `dropOldReleases` when a successful release was deployed, so old releases weren't being deleted; despite of this, my PR did pass the CI checks. This made clear that we need to add a test to check for that, as this behavior is to b

[2022-02-09 14:30] #176 closed

[2022-02-18 17:30] ibarrae opened #180 "Use deriving strategies for Hapistrano's Monad"
As it is now, we Hapistrano is using the following monad stack:
https://github.com/stackbuilders/hapistrano/blob/f3fbe9a34cde5c645cbb4d51a48647a80ea00b92/src/System/Hapistrano/Types.hs#L49

Using [deriving strategies](https://ghc.gitlab.haskell.org/ghc/doc/users_guide/exts/deriving_strategies.html) The monad could be implemented like the following:
[code]

That could remove the current monad stack

[2022-02-21 10:00] DavidMazarro commented on #180
This looks doable. I have a question regarding the usage of `MonadCatch` here (which would need to be added to the instances of the newtype): to preserve the ability to handle the current error we have, i.e. the pair `(Failure, Maybe Release)`, we would define something like this:
[code]
is that right? In that case, I think the refactor could be quite easy to carry out.

[2022-02-21 14:19] ibarrae commented on #180
Yeah, I think that would do. You could also use `anyclass` as well for the instance of `Exception`.

[code]

[2022-02-21 19:21] CristhianMotoche commented on #145
I faced this issue recently and I fixed it by manually modifying the file `/var/projects/my-project/repo/config`:
[code]
I think we should be able to solve this issue by `modifying` the remote `'origin'`.

[2022-03-22 20:33] CristhianMotoche commented on #149
Hey @sestrella Was this issue fixed successfully by #155 ?

[2022-03-22 20:37] CristhianMotoche commented on #28
Hey @jpvillaisaza Have you noticed if the test suite keeps failing now? Should we consider using one of the scripting libraries that you mention? Or, should we close the issue now that we're using [process >= 1.4](https://github.com/stackbuilders/hapistrano/blob/master/hapistrano.cabal#L64-L65)?

[2022-03-22 20:50] jpvillaisaza commented on #28
@CristhianMotoche I don't know. I guess the tests are working fine—the linked issue was fixed and this looks like a follow up. I'm okay with closing.

[2022-03-22 20:52] CristhianMotoche commented on #28
Thanks for the quick reply @jpvillaisaza I'll close it for now.

[2022-03-22 20:52] #28 closed

[2022-03-22 22:49] CristhianMotoche commented on #96
I'm going to close this issue for now since it was labeled as `wontfix`. We can reopen it in the feature since no one else has requested to take a look at it.

[2022-03-22 22:49] #96 closed

[2022-03-22 22:51] CristhianMotoche commented on #180
Hey @ibarrae Would you mind if I pick this one? I haven't touch this new type of deriving and I'd love to learn more about it.

[2022-03-22 23:00] ibarrae commented on #180
For sure @CristhianMotoche :rocket:

[2022-03-23 15:15] sestrella commented on #149
@CristhianMotoche yes, I think this ticket is solved by #155

[2022-03-23 15:15] #149 closed

[2022-03-30 18:57] CristhianMotoche opened #181 "Separate `build-and-test` from the release process"
Currently, there is one single workflow file that does everything. Unfortunately, this causes some issues when the contribution comes from an external members because the step where hapistrano is built on a docker container fails. Let's separate [these lines](https://github.com/stackbuilders/hapistrano/blob/db27a71f3d903c2e1b0e78e6d700e04012bfab28/.github/workflows/build-and-test.yml#L55-L65) from

[2022-03-30 19:09] sestrella opened #182 "Replace Dockerfile base with distroless"
Taking the [Distroless Rust](https://github.com/GoogleContainerTools/distroless/blob/main/examples/rust/Dockerfile) example as a reference, the existing `Dockerfile` could be split into different stages:

- One that compiles the project and generates a binary
- Another one that places that binary in a distroless image

The outcome would be a very tiny image. Taking into account that `hapistrano` i

[2022-04-08 19:34] sestrella opened #185 "Simplify CI build matrix"
The idea behind this ticket is to reduce the number of GHC versions supported to the latest [stable](https://www.haskell.org/ghc/download.html) versions, this would make it easier to maintain the project and also speed up the build process.

[2022-04-10 03:51] sestrella commented on #185
Solved by https://github.com/stackbuilders/hapistrano/pull/186

[2022-04-10 03:51] #185 closed

[2022-04-10 03:52] sestrella commented on #181
Solved by #183

[2022-04-10 03:52] #181 closed

[2022-04-10 03:55] sestrella opened #188 "Automatically push image to Docker registry"
Pushing Docker images directly from the CI in response to tag events, would be helpful in order to keep the image up to date

[2022-04-11 19:43] #188 closed

[2022-04-12 20:18] CristhianMotoche commented on #145
Work around:
[code]

[2022-05-10 17:56] DavidMazarro opened #195 "Add CI workflow step to publish on Hackage on tag push"
Right now, Hapistrano is on version `v0.4.4.0` as per the [latest release tag](https://github.com/stackbuilders/hapistrano/releases/tag/v0.4.4.0). However, the latest version that is on [Hackage](https://hackage.haskell.org/package/hapistrano) is `v0.4.3.0`. Since we are doing improvements to the workflow (e.g. #194 which aims to add static binary release generation to the CI workflow), it would b

[2022-05-12 01:31] #133 closed

[2022-05-20 08:16] #195 closed

[2022-07-05 14:59] CristhianMotoche commented on #129
I'll be closing this issue in case the above comment solved it. Feel free to open it's not resolved yet.

[2022-07-05 14:59] #129 closed

[2022-07-05 15:01] CristhianMotoche commented on #47
Thanks @cptrodolfox I'll be closing this issue since you already helped us with those tests. :bow:

[2022-07-05 15:01] #47 closed

[2022-07-05 15:11] CristhianMotoche commented on #121
I'll be closing this issue for now since we have a [copying mechanism](https://github.com/stackbuilders/hapistrano#what-to-do-when-compiling-on-server-is-not-viable) that could work for this scenario. Feel free to reopen it if you think we can improve this feature. Thanks!

[2022-07-05 15:14] CristhianMotoche commented on #45
We already have a maintenance mode in hapistrano. It does something similar to what `capistrano-maintenance` does. Therefore, a user can do something like:
[code]

There are other ways to improve this. I'll open another issue to improve the maintenance mode.

[2022-07-05 15:14] #45 closed

[2022-07-05 15:15] CristhianMotoche commented on #146
We've improved the README to clarify how you can specify the user that connects to the repository. I'll be closing this issue for now.

[2022-07-05 15:15] #146 closed

[2022-08-11 15:27] ibarrae commented on #76
Maybe this could be achieved using TOML files @sestrella? https://kowainik.github.io/posts/2019-01-14-tomland#prefix-tree

[2022-09-14 19:59] sestrella commented on #76
@ibarrae sorry for the late response. I would suggest start taking a look at [Dhall](https://github.com/dhall-lang/dhall-lang), perhaps? It looks promising and has [Haskell](https://github.com/dhall-lang/dhall-haskell) support. @CristhianMotoche, @DavidMazarro any thoughts?

[2022-09-14 20:50] CristhianMotoche commented on #76
@sestrella @ibarrae Why do you want to include a new notation for the build script? Is it impossible to accomplish this only with YAML? Please, let me know your thoughts.

[2022-09-15 08:16] DavidMazarro commented on #76
I haven't used Dhall but have known it for a while. Despite looking interesting, I think the sort of config users are doing with Hapistrano isn't complex enough to justify defaulting to Dhall (unless we want to support both languages for deployment scripts?). It might just make Hapistrano a bit harder to use for people unfamiliar with Dhall.

I would try to review if this can be done in YAML direc

[2022-09-19 20:41] CristhianMotoche opened #206 "Hapistrano can fail at rollback if `ctoken` points to a release that does not exists"
Hapistrano uses `ctokens` to know which deployments finished successfully. After that, they're used to rollback to a successful release. However, we're not validating if the path that is generated for the rollback exists and `ln` doesn't fail if the target directory/file doesn't exists. Therefore, we should add a validation before that symlink is created. If the file doesn't exist, we should stop

[2022-09-27 21:42] CristhianMotoche commented on #180
Solved in #204

[2022-09-27 21:42] #180 closed

[2022-11-15 20:43] #206 closed

[2022-11-18 21:47] tittoassini opened #210 "Deploying to multiple machines concurrently not working"
The parallel deployment does not seem to work (anymore, it used to), the deployment seem to take place only on the first target.

The yaml:

deploy_path: "/home/ubuntu/app/top-test"
repo: "https://github.com/Quid2/top-apps"
revision: origin/master
targets:
  - host: ubuntu@nano.quid2.org
  - host: ubuntu@net.quid2.org
build_script:
  - sudo apt install zlib1g-dev
  - stack setup
  - stack build --